* {
    box-sizing: border-box;
}

#appHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    background-color: lightsteelblue;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
}

h1 {
    margin: 30px
}

.projectDiv {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(16, 169, 193);
    border: 3px solid black;
    border-radius: 10px;
    min-height: 250px;
    min-width: 200px;
    max-width: 350px;
    margin: 20px;
    /* padding-top: 20px */
}

.headerDiv {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 100px;
    height: 50px;
    width: 300px;
}

.headerLeft {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
}

.headerRight {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoDiv {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    border: 2px dotted yellow;
}

.titleDiv {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.todoDelete {
    background-color: rgb(16, 169, 193);
    height: auto;
    width: auto;
    border: none;
    margin-left: auto;
}

.deleteIcon {
    width: 22px;
    background-color: rgb(16, 169, 193);
}

.todoDiv .detail {
    font-size: 14px;
    margin-left: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.expandBtn {
    width: 45px;
    margin-left: 18px;
    color: white;
    background-color: darkmagenta;
    border-radius: 8px;
}

.descDiv {
    display: flex;
    flex-direction: column;
}

