* {
    box-sizing: border-box;
}

#appHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    background-color: #041620;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
}

h1 {
    margin: 30px;
    color: white;
    text-shadow: 4px 4px 4px #000000;;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: #f8bb25;
    border: 3px solid white;
    border-radius: 10px;
    min-height: 295px;
    min-width: 200px;
    max-width: 350px;
    margin: 20px;
    /* padding-top: 20px */
}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f48900;
    color: white;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    width: 300px;
    padding: 10px;
    padding-left: 50px;
}

.addTodoBtn, #addProjectBtn {
    background-color: #296968;
    color: white;
    height: 24px;
    border-radius: 10px;
    border: 3px solid white;
}

.addTodoBtn {
    margin-left: auto;
}

.projectDelete {
    margin-left: 10px;
    background-color: #f48900;
    border: none;
}

.todoDiv {
    display: flex;
    flex-direction: column;
    background-color: #f8bb25;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    border: 1px solid white;
}

.titleDiv {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.todoDelete {
    background-color: #f8bb25;
    border: none;
    margin-left: auto;
}

.deleteIcon {
    width: 22px;
    background-color: #f48900;
}

.todoDiv .deleteIcon {
    background-color: #f8bb25;
}

.todoDiv .detail {
    font-size: 14px;
    margin-left: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.expandBtn {
    width: 50px;
    margin-left: 18px;
    color: white;
    background-color: #296968;
    border-radius: 8px;
    border: 3px solid white;
}

.descDiv {
    display: flex;
    flex-direction: column;
}

